# Q.1 Write a code to reverse the string.

In [2]:
def reverse_str(str):
    return str[:: -1]
input_str= "hello pwskills"
result= reverse_str(input_str)
print(result)

sllikswp olleh

# Q.2 Write a code to count the number of vowels in a string.

In [8]:
str1 =str(input("enter your string"))
v=0
for char in str1
    if char in "aeiouAEIOU":
        v = v+1

print("vowels in",str,"is", v)

enter your string i am student in pwskils

vowels in <class 'str'> is 6

# Q.3 Write a code to check if the given string is a palindrome or not.

In [25]:
def is_palindrome(s):
    ss = ''.join(s.split()).lower()
    return ss == ss[::-1]
str1 = str(input("enter your str :-  "))
if is_palindrome(str1):
    print(f'"{str1}" is a palindrome.')
else:
    print(f'"{str1}" is not a palindrome.')

enter your str :-   "my name is xyz"

""my name is xyz"" is not a palindrome.

In [20]:
def is_palindrome(s):
    ss = ''.join(s.split()).lower()
    return ss == ss[::-1]
str1 = str(input("enter your str :-  "))
if is_palindrome(str1):
    print(f'"{str1}" is a palindrome.')
else:
    print(f'"{str1}" is not a palindrome.')

enter your str :-   madam

"madam" is a palindrome.

# Q 4. Write a code to check if two given strings  are anagram of each other.

In [3]:
def is_anagrams(str1,str2):
    str1 = str1.replace(" "," ").lower
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"

string2 = "silent"
result= is_anagrams(string1,string2)
print(result)

TypeError: 'builtin_function_or_method' object is not iterable

# Q 5. Write a code to find all occurrences of a given substring within another strings.

In [24]:
def find_occurrences(str1,str2):
    occurrences = []
    start = 0
    while True:
        start = str1.find(str2, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  
    return occurrences


str1 = " test"
str2 = "test"
result =find_occurrences(str1,str2)
print(result)

[1]

# Q.6  Write a code to perform basic string compression using the counts of repeated characterss.

# Q 7. Write a code to determine if a string has all unique characters.

In [3]:
def has_unique(s):
    return len(s) == len(set(s))

input_str = "abcdefg"
if has_unique(input_str):
    print(f"The string '{input_str}' has all unique characters.")
else:
    print(f"The string '{input_str}' does not have all unique characters.")

The string 'abcdefg' has all unique characters.

# Q8. Write a code to convert a given string to uppercase or lowercase.

In [6]:
str="my name is siddhant"
print(str.upper())
print(str.lower())

MY NAME IS SIDDHANT
my name is siddhant

# Q9.  Write a code to count the number of words in a string.

In [17]:
str= "data science through pwskills"
result= str.split()
count= len(result)
print("total words is ",count)

total words is  4

# Q.10  Write a code to concatenate two strings without using the + operator.

In [15]:
str1 = "data science "
str2= "from pwskills"
result = ''.join([str1, str2])
print(result)

data science from pwskills

# Q11. Write a code to remove all occurrences of a specific element from a lists.

In [13]:
my_list = [1, 2, 3, 4, 3, 5, 3, 6]
result= my_list.remove(3)
print(result)

None

In [31]:
my_list

[1, 2, 4, 3, 5, 3, 6]

# Q. 12 Implement a code to find the second largest number in a given list of integer

In [38]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))
    if len(unique_numbers) < 2:
        return "List doesn't have enough unique numbers."
    unique_numbers.sort(reverse=True)
    return unique_numbers[1]

numbers = [10, 20, 4, 45, 99, 99, 20]
result = second_largest(numbers)
print("second largest is :-",result)

second largest is :- 45

# Q 13.create a code to count the occurances of each element in a list and return a dictionary with elements as keys and their counts as values.

In [22]:
def occurances(list):
    count={}
    for item in list:
        if item in count:
            count[item] +=1
        else:
            count[item] = 1
    return count

my_list=[1,2,2,1,2,1,3,4,6,2,6,5,7,5,2,4,4,5]
result=occurances(my_list)
print(result)

{1: 3, 2: 5, 3: 1, 4: 3, 6: 2, 5: 3, 7: 1}

In [30]:
my_list=[1,2,4,3,4,2,1,3,5,6,5,4,5,6]
count={}
for item in my_list:
    if item in count:
        count[item] +=1
    else:
        count[item] = 1

print(count)

{1: 2, 2: 2, 4: 3, 3: 2, 5: 3, 6: 2}

# Q.14 write a code to reverse a list in-place without using any built-in function.

In [35]:
def reverse(list):
    left= 0
    right=len(list) -1
    while left< right:
        list[left],list[right]=list[right],list[left]
        left +=1
        right-=1

my_list=[1,2,3,11,22,33]
reverse(my_list)
print(my_list)

[33, 22, 11, 3, 2, 1]

# Q . 15 Implement a code to find and remove duplicated from a list while preserving the original order of elements.

In [5]:
def remove(list):
    x = set()
    list1=[]
    for item in list:
        if item not in x:
            list1.append(item)
            x.add(item)
    return list1

my_list=[1,2,3,1,2,3,4,5,4,5,6,7,5,4,3,5,6]
result=remove(my_list)
print(result)

[1, 2, 3, 4, 5, 6, 7]

 # Q 16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [14]:
list =[11,22,33,44,55]
if list == sorted(list):
    print("ascending")
elif list == sorted(list,reverse=True):
    print("descending")
else:
    print("not sorted")

# print(list)

ascending

# Q 17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
l1=[11,22,33,44]
l2=[12,23,34,45]
result = sorted(l1 + l2)
# print(result)

# Q.18 Implement a code to find the intersection of two given lists.

In [ ]:
def find_intersection (lst1,lst2):
    intersection = list(set(lst1) & set(lst2))
    return intersection
lst1 = [11,22,33,44,55]
lst2 = [44,55,66,77,88]
result = find_intersection(lst1,lst2)
print(result)

# Q.19 Create a code to find the union of two lists without duplicates.

In [ ]:
def union_without(lst1,lst2):
    return list(set(lst1)|set(lst2))

lst1=[1,2,3,4,5]
lst2=[3,4,5,6,7]
result=union_without(lst1,lst2)
print(result)

# Q.20 Write a code to shuffle a given list randomly without using an built-in shuffle function.

In [8]:
import random
def shuffle(my_list):
    l= len(my_list)
    for i in range(l):
        rand_indx= random.randint(0,l-1)
        my_list [i],my_list[rand_indx]=my_list[rand_indx],my_list[i]
    return my_list

my_list = [11,22,33,44,55,66]
shuffle=shuffle(my_list)
print(shuffle)

[33, 11, 66, 22, 44, 55]

# Q.21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [23]:
def common_elem (t1,t2):
    common =set(t1).intersection(set(t2))
    return tuple(common)

t1 = (11,22,33,44,55,66,77)
t2 = (55,66,77,88,99,87,45)
result= common_elem(t1,t2)
print(result)

(66, 77, 55)

 # Q ,22 Create a code that prompts the user to enter two sets of integers separated by commas, Then , print the intersection of these two sets.

In [47]:
def get_input(prompt):
    return set(map(int, input(prompt).split(',')))

set1 = get_input("Enter the first set of integers, separated by commas: ")
set2 = get_input("Enter the second set of integers, separated by commas: ")

intersection = set1.intersection(set2)
print("the intersection is;",intersection)

Enter the first set of integers, separated by commas:  11,22,33,44
Enter the second set of integers, separated by commas:  33,44,55,66

the intersection is; {33, 44}

# Q.23 Write a code to concatenate two tuples.The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [42]:
def concat(t1,t2):
    
    return t1 +t2
t1= (11,22,33)
t2 = (44,55,66)
result =concat(t1,t2)
print(result)

(11, 22, 33, 44, 55, 66)

# Q.24 develop a code that prompts the user to input two sets of strings.then,print the elements that are present in the first set but not in the second set

In [51]:
def get_input(prompt):
    return set(input(prompt).split(','))

s1 = get_input("enter 1st string;")
s2 = get_input("enter 2nd string;")
difference = s1.difference(s2)
print(difference)

enter 1st string; apple,bannana,sweets
enter 2nd string; shake,milk,bannana

{'apple', 'sweets'}

# Q.25 create a code that takes a tuple and two integers as input. the function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [59]:
def tuples_(original,start,end):
    if start < 0 or end >=len(original) or start > end :
         return "invalid indices"
    return original [start:end+1]

original = [11,22,3,33,44,55,66,77]
start=1
end=6
new_t= tuples_(original,start,end)
print(new_t)

[22, 3, 33, 44, 55, 66]

# Q.26 Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.

In [66]:
s1= set(input("enter your 1st set;"))
s2= set(input("enter your 2nd set;"))
union_set= s1.union(s2)
print("the union is",union_set)

enter your 1st set; 'a','b','c'
enter your 2nd set; 'd','e','f'

the union is {'a', ',', "'", 'd', 'e', 'c', 'f', 'b'}

# Q.27 Develop a code that takes a tuple of integers as input.the function should return the maximum and minimum value from the tuple using tuple unpacking.

In [69]:
def find_(nums):
    min_,max_=min(nums),max(nums)
    return min_,max_

nums = (112,334,23,45,65,24,66,12)
min_,max_ = find_(nums)
print(f"minimum value: {min_}")
print(f"maximum value: {max_}")

minimum value: 12
maximum value: 334

# Q.28 create a code that defines two sets of integers. then, print the union ,intersection,and difference of these two sets.

In [76]:
s1={11,22,33,44}
s2={33,44,55,66}
union_=s1.union(s2)
intersection_=s1.intersection(s2)
difference_=s1.difference(s2)

print("union",union_)
print("intersection", intersection_)
print("difference", difference_)

union {33, 66, 11, 44, 22, 55}
intersection {33, 44}
difference {11, 22}

# Q.29  write a code that takes a tuple and an element as input , the function should return the count of occurences of the given element in the tuple.

In [79]:
tuple = (11,22,33,22,11,33,44,55,22)
count= tuple.count(22)
print(count)

3

In [81]:
def count_(tuple,element):
    return tuple.count(element)
number =(11,22,33,22,44,55,44,11,22,77)
element_=22
count= count_(number,element_)
print(f"element {element_}occurs {count}times")

element22occurs 3times

# Q.30 Develope the code that prompt the set to input two sets of strings.then print the symmmatric difference of these two sets.

In [13]:
def symmetric_difference():
    set1 = set(input("enter 1st set").split())
    set2 = set(input("enter 2nd set").split())
    sym_diff=set1.symmetric_difference(set2)
    print("symmetric difference",sym_diff)

symmetric_difference()

enter 1st set a,b,c,d
enter 2nd set c,d,e,f

symmetric difference {'c,d,e,f', 'a,b,c,d'}

# Q.31 write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [21]:
def word_frequencies():
    words = input("Enter a list of words: ").split()
    
    word_count = {}

    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1
    
    return word_count

frequencies = word_frequencies()
print(frequencies)

Enter a list of words:  a b a b d s d s

{'a': 2, 'b': 2, 'd': 2, 's': 2}

# Q,32 write a code that takes two dictionary as input and merges them into a single dictionary. if there are common keys , the values should be added together.

In [23]:
def merge_dict (d1,d2):
    merge_dict =d1.copy()
    for key,value in d2.items():
        if key in merge_dict:
            merge_dict[key] += value
        else:
            merge_dict[key] = value
    return merge_dict
d1= {'a':10, 'b':20, 'c':30}
d2= {'b':25, 'c':35, 'd':45}
result = merge_dict(d1,d2)
print(result)

{'a': 10, 'b': 45, 'c': 65, 'd': 45}

# Q.33 Write a code to access a value in a nasted dictionary. The function should take the dictionary and a list ofkeys as input and return the corresponding value. If any of the keys do not exist in the dictionary thefunction should return None.

In [27]:
def nested_value(n_dict, key_list):
    current_value = n_dict
    for key in key_list:
        
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value

n_dict = {
    'a': {'b': {'c': 100}},
    'x': {'y': {'z': 200}}
}

keys1 = ['a', 'b', 'c'] 
keys2 = ['x', 'y', 'w']  
print("value of key1 ;",nested_value(n_dict,keys1))
print("value of key2 ;",nested_value(n_dict,keys2))

value of key1 ; 100
value of key2 ; None

# Q.34 write a code that takes a dictionary as input and returns a sorted version of it based on the values. you can choose whether to sort in ascending or descending order.

In [ ]:
def sort_dict(input_dict,ascend=True):
    sorted_dict = dict(sorted(input_dict.items(),key=lambda item: item[1], reverse = not ascending)) 
    return sorted_dict

exm_dict={'a':10,'b':23,'c':12, 'd':23}
ascend = sort_dict(exm_dict,ascending=True)
print("sorted in ascending:-",ascend)

descend= sort_dict(exm_dict,ascending=False)
print("sorted in descending :-",descend)

# Q.35 Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary correcly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [47]:
def inverted(i_dict):
    inverted_dict ={}
    for key,value in i_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] =[key]
    return inverted_dict

dict ={'a':4,'b':6,'c':2,'d':5}
invert= inverted(dict)
print("inverted dictionary : ",invert)

inverted dictionary :  {4: ['a'], 6: ['b'], 2: ['c'], 5: ['d']}